<h1>October CTA Info</h1>


<h3>Aggregates:</h3>
<table>
  <tr>
    <th>Total Stops</th>
    <th>Total Routes</th>
    <th>Total Boardings</th>
    <th>Total Alightings</th>
    <th>Most flighty place (most boardings)</th>
    <th>Most happenin' place (most alightings)</th>
    <th>Stop with Most Routes</th>
    <th>Longest Route (by stops)</th>
  </tr>

  <tr>
  <td><%= @stops.count%></td>
  <td><%= @routes.count%></td>
  <td><%= @stops.sum('boardings')%></td>
  <td><%= @stops.sum('alightings')%></td>
  <td><%= @busiest_boarding%></td>
  <td><%= @busiest_alighting%></td>
  </tr>
</table>

<br>

<h2>Bus Stops</h2>
<table class="striped centered">
  <tr>
    <th>On Street</th>
    <th>Cross Street</th>
    <th>Boardings</th>
    <th>Alightings</th>
    <th>Location</th>
    <th>Number of Bus Routes</th>
  </tr>

<% @stops.each do |stop| %>
  <tr>
    <td><%= stop.on_street %></td>
    <td><%= stop.cross_street %></td>
    <td><%= stop.boardings %></td>
    <td><%= stop.alightings %></td>
    <td><%= stop.location %></td>
    <td><%= stop.bus_routes.count %></td>
  </tr>
<% end %>
</table>

<br>

<h2>Bus Routes</h2>
<table>
  <tr>
    <th>Route Number</th>
    <th>Number of Stops</th>
  </tr>

<% @routes.each do |route| %>
  <tr>
    <td><%= route.route_name %></td>
    <td><%= route.stops.count %></td>
  </tr>
<% end %>
</table>